<div class="p-3">
    <ul class="list-inline m-0 LeftMenu">
        <li>
            <a href="/Teacher/Dashboard" class=""> 
                <i class="lni lni-dashboard"></i>
                <span>Dashboard</span>
            </a> 
        </li>
        <li>
            <a href="/Teacher/Notice_List" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Notice</span> 
            </a> 
        </li>
        <li>
            <a href="/Teacher/Result_Enrollment_list" class=""> 
                <i class="lni lni-users"></i>
                <span>Manage Student Result</span>
            </a> 
        </li>
        <li>
            <a href="/Teacher/Student_Enrollment_list" class=""> 
                <i class="lni lni-remove-file"></i>
                <span>Manage Student Details</span>
            </a> 
        </li>
    </ul>
</div>