<div class="p-3">
    <ul class="list-inline m-0 LeftMenu">
        <li>
            <a href="/Student/Dashboard" class=""> 
                <i class="lni lni-dashboard"></i>
                <span>Dashboard</span>
            </a> 
        </li>
        <li>
            <a href="/Student/Notice_List" class=""> 
                <i class="lni lni-alarm"></i>
                <span>Manage Notice</span> 
            </a> 
        </li>
        <li>
            <a href="/Student/Mark_List" class=""> 
                <i class="lni lni-remove-file"></i>
                <span>Marksheet</span> 
            </a> 
        </li>
        
    </ul>
</div>