<div class="p-3">
    <ul class="list-inline m-0 LeftMenu">
        <li>
            <a href="/Admin/Dashboard" class=""> 
                <i class="lni lni-dashboard"></i>
                <span>Dashboard</span>
            </a> 
        </li>
        <li>
            <a href="/Admin/Student_list" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Student</span> 
            </a> 
        </li>
        <li>
            <a href="/Admin/Teacher_list" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Teacher</span> 
            </a> 
        </li>
        <li>
            <a href="/Admin/Subject_list" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Subject</span> 
            </a> 
        </li>
        <li>
            <a href="/Admin/Noticet_list" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Notice Template</span> 
            </a> 
        </li>
        <li>
            <a href="/Admin/Notice_list" class=""> 
                <i class="lni lni-home"></i>
                <span>Manage Notice</span> 
            </a> 
        </li>
        <li>
            <a href="/Admin/Addresult" class=""> 
                <i class="lni lni-users"></i>
                <span>Add Student Result</span>
            </a> 
        </li>
        <li>
            <a href="/Admin/ManageResult" class=""> 
                <i class="lni lni-remove-file"></i>
                <span>Manage Student Result</span>
            </a> 
        </li>
        <li>
            <a href="/Admin/ManageStudent" class=""> 
                <i class="lni lni-remove-file"></i>
                <span>Manage Student Details</span>
            </a> 
        </li>
        
    </ul>
</div>